/* Reset-knap */
.modal-btn-reset {
    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
    transition: all 0.3s ease;
}

.modal-btn-reset:hover {
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
}

/* Share-knap */
.modal-btn-reset{
    background-color: #d9d9d9;
    color: #000;
    transition: all 0.3s ease;
}